<main id="main" class="main">
  <div class="pagetitle d-flex justify-content-between">
      <div>
          <h1>Danh sách kệ hàng</h1>
          <nav>
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/dashboard">Trang chủ</a></li>
                  <li class="breadcrumb-item active">Quản lý thông báo</li>
              </ol>
          </nav>
      </div>
  </div>

  <section class="section">
      <!-- [nzScroll]="{ x: '1150px', y: '600px' }" -->
      <nz-table nzLoading="false" [nzData]="listNoti" #basicTable [nzPageSize]="5"
          [nzPageSizeOptions]="[5,10,15,20,25,30]" nzShowSizeChanger>
          <thead>
              <tr>
                  <!-- <th style="text-align: center">Mã kệ hàng</th> -->
                  <th >Ngày thông báo</th>
                  <th >Nội dung</th>
                  <th style="text-align: center">Xem chi tiết</th>
              </tr>
          </thead>
          <tbody>
              <tr style="cursor: pointer;" *ngFor="let data of basicTable.data" >
                  <td >{{ data.notiDate |date:'dd-MM-yyyy'}}</td>
                  <td *ngIf="data.titleBatch!=null && data.titleQuantity!=null">{{ data.titleBatch}} và {{data.titleQuantity}}</td>
                  <td *ngIf="data.titleBatch==null && data.titleQuantity!=null">{{ data.titleQuantity }}</td>
                  <td *ngIf="data.titleBatch!=null && data.titleQuantity==null">{{ data.titleBatch }}</td>
                  <td style="text-align: center">
                    <a (click)="DetailNotification(data.notiDate)">
                      <span nz-icon nzType="zoom-in" nzTheme="outline" style="color: rgb(119, 219, 250);font-size: 20px;"></span>
                    </a>
                  </td>
              </tr>
          </tbody>
      </nz-table>
  </section>
</main>

