<main>
    <div class="container">
       <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
          <h1>404</h1>
          <h2>trang này không tồn tại.</h2>
          <a class="btn" routerLink="/dashboard">trở về trang chủ</a> 
          <img src="assets/img/not-found.svg" class="img-fluid py-5" alt="Page Not Found">
          <div class="credits"> Love by <a routerLink="/dashboard">nhà thuốc Út Nhàn</a></div>
       </section>
    </div>
 </main>