<main id="main" class="main">
    <div class="pagetitle d-flex justify-content-between">
        <div>
            <h1>Danh sách hoạt chất</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Hoạt chất</li>
                </ol>
            </nav>
        </div>
        <div>
            <button class="btn btn-outline-primary action__button" (click)="showModal()" style="border-radius: 10px; width: 150px;"><i class="bi bi-plus"></i>
                <span>Tạo hoạt chất</span></button>
            <nz-modal [(nzVisible)]="isVisible" nzTitle="Tạo hoạt chất" nzOkText="Tạo hoạt chất" nzCancelText="Hủy"
                (nzOnOk)="handleOk()" (nzOnCancel)="handleCancel()">
                <ng-container *nzModalContent>
                    <nz-form-label nzRequired for="inputName5" class="form-label">Tên hoạt chất</nz-form-label>
                    <input type="text" class="form-control" id="inputName" [(ngModel)]="activeSubstanceName">
                    <div *ngIf="checkError == true">
                        <small style="color: red;">Vui lòng nhập hoạt chất</small>
                    </div>
                    <div *ngIf="checkError_2 == true">
                      <small style="color: red;">Tên hoạt chất từ 6 -150 kí tự</small>
                  </div>
                </ng-container>
            </nz-modal>
        </div>
    </div>
    <div id="search">
        <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="">
          <!-- [nzAddOnAfter]="suffixButton"> -->
            <input type="text" nz-input placeholder="Nhập tên hoạt chất ..." [(ngModel)]="searchData"
                (ngModelChange)="getListSearch()" />
        </nz-input-group>
        <!-- <ng-template #suffixButton>
            <button nz-button nzType="primary" nzSize="large" nzSearch>
                <nz-select [(ngModel)]="selectedProvince" nzSize="large" (ngModelChange)="SearchOption($event)">
                    <nz-option nzValue="searchID" nzLabel="Mã hoạt chất"></nz-option>
                    <nz-option nzValue="SearchName" nzLabel="Tên hoạt chất"></nz-option>
                </nz-select>
            </button>
        </ng-template> -->
    </div>
    <section class="section">

        <nz-table [nzLoading]="loading" [nzData]="listsearch" #basicTable [nzPageSize]="5"
            [nzPageSizeOptions]="[5,10,15,20,25,30]" nzShowSizeChanger >
            <thead>
                <tr>
                    <!-- <th style="text-align: center">Mã hoạt chất</th> -->
                    <th>Tên hoạt chất</th>
                    <th style="text-align: center">Ngày tạo</th>
                    <th [nzFilters]="nameList" [nzFilterMultiple]="true" [nzFilterFn]="nameFilterFn" style="text-align: center">Tình trạng</th>
                    <th style="text-align: center">Điều chỉnh trạng thái</th>
                    <th style="text-align: center">Xem chi tiết</th>
            </thead>
            <tbody>
                <tr style="cursor: pointer;" *ngFor="let data of basicTable.data" >
                  <!-- <td (click)="detail(data.id)">{{ data.id }}</td> -->
                  <td >{{ data.name || null }}</td>
                  <td style="text-align: center" >{{ data.createdAt |date:'dd-MM-yyyy' }}</td>
                  <td style="text-align: center">
                      <div *ngIf="data.isActive == true; else isActive">
                          <nz-tag [nzColor]="'green'" >Còn hoạt động</nz-tag>
                      </div>
                      <ng-template #isActive>
                          <div >
                              <nz-tag [nzColor]="'red'" >Ngừng hoạt động</nz-tag>
                          </div>
                      </ng-template>
                  </td>
                  <td style="text-align: center;">
                    <!-- <a><button type="button" class="btn btn-outline-secondary">Cập nhật</button></a> -->
                    <!-- <nz-divider nzType="vertical"></nz-divider> -->
                    <span *ngIf="data.isActive == false; else ElseBan ">
                        <button type="button" class="btn btn-outline-success action__button"
                            (click)="ActiveSubstance(data.id)">Bỏ chặn</button>
                    </span>
                </td>
                <ng-template #ElseBan>
                    <button type="button" class="btn btn-outline-danger action__button"
                        (click)="deleteActiveSubstance(data.id)">Chặn</button>
                </ng-template>
                  <td style="text-align: center;">
                    <a (click)="detail(data.id)">
                      <span nz-icon nzType="zoom-in" nzTheme="outline" style="color: rgb(119, 219, 250);font-size: 20px;"></span>
                    </a>
                  </td>
                </tr>
            </tbody>
        </nz-table>
    </section>


</main>
