<main id="main" class="main">
    <div class="pagetitle d-flex justify-content-between">
        <div>
            <h1>Danh sách sản phẩm</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Sản phẩm</li>
                </ol>
            </nav>
        </div>
        <div>
        </div>
        <div>
            <div>
              <button type="button" class="btn btn-outline-primary action__button" routerLink="/dashboard/create-medicine" style="width: 150px">
                <i class="bi bi-plus"></i>
                  Tạo sản phẩm
              </button>
            </div>
        </div>
    </div>
    <nz-tabset [nzSize]="'small'">
      <nz-tab nzTitle="Đang bán">
        <br>
        <div id="search">
          <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
              <input type="text" nz-input placeholder="Nhập mã, barcode, tên sản phẩm" [(ngModel)]="searchData"
                  (ngModelChange)="getListSearch()" />
          </nz-input-group>
          <ng-template #suffixButton>
              <button nz-button nzType="primary" nzSize="large" nzSearch style="min-width: 150px;color: aliceblue;">
                  <nz-select [(ngModel)]="selectedProvince" nzSize="large" (ngModelChange)="SearchOption($event)">
                      <nz-option nzValue="searchID" nzLabel="Mã sản phẩm"></nz-option>
                      <nz-option nzValue="searchBarcode" nzLabel="Mã barcode"></nz-option>
                      <nz-option nzValue="SearchName" nzLabel="Tên sản phẩm"></nz-option>

                  </nz-select>
              </button>
          </ng-template>
      </div>
        <section class="section">
          <nz-table [nzLoading]="loading" [nzData]="listsearch" #basicTable [nzPageSize]="5"
              [nzPageSizeOptions]="[5,10,15,20,25,30]" nzShowSizeChanger style="text-align: center">
              <thead>
                  <tr >
                      <th style="text-align: center">Mã số đăng kí</th>
                      <th style="text-align: center">Mã barcode</th>
                      <th style="text-align: center">Tên sản phẩm</th>
                      <th style="text-align: center">Giá bán</th>
                      <!-- <th [nzFilters]="nameList"
                      [nzFilterMultiple]="true"
                      [nzFilterFn]="nameFilterFn"
                      style="text-align: center">Trạng thái hoạt động</th> -->
                      <th style="text-align: center">Tình trạng</th>
                      <th style="text-align: center">Điều chỉnh trạng thái</th>
                      <th style="text-align: center;">Xem chi tiết</th>
                  </tr>
              </thead>
              <tbody>
                  <tr style="cursor: pointer;" *ngFor="let data of basicTable.data" style="text-align: center">
                      <td >
                          {{data.drugRegistrationNumber}}
                      </td>
                      <td >
                          <ngx-barcode bc-value={{data.barcode}} [bc-display-value]="true" [bc-width]="width"
                              [bc-height]="height"></ngx-barcode>
                      </td>
                      <td >{{ data.name}}</td>
                      <td >{{ data.productUnits[0].price| number }} đ/ {{data.productUnits[0].unit}}</td>
                      <td>
                        <a *ngIf="data.isActive == true; else isActive" >
                          <nz-tag [nzColor]="'green'">Còn bán</nz-tag>
                        </a>
                      <ng-template #isActive>
                          <a>
                              <nz-tag [nzColor]="'red'">Ngừng bán</nz-tag>
                          </a>
                      </ng-template>
                      <td>
                        <!-- <a><button type="button" class="btn btn-outline-secondary">Cập nhật</button></a> -->
                        <!-- <nz-divider nzType="vertical"></nz-divider> -->
                        <span *ngIf="data.isActive == false; else ElseBan ">
                            <button type="button" class="btn btn-outline-success action__button"
                                (click)="isActiveProduct(data.id)">Bỏ chặn</button>
                        </span>
                    </td>
                    <ng-template #ElseBan>
                        <button type="button" class="btn btn-outline-danger action__button"
                            (click)="isInActiveProduct(data.id)">Chặn</button>
                    </ng-template>
                      <td style="text-align: center;">
                        <a (click)="detail(data.id)">
                          <span nz-icon nzType="zoom-in" nzTheme="outline" style="color: rgb(119, 219, 250);font-size: 20px;"></span>
                        </a>
                      </td>
                  </tr>
              </tbody>
          </nz-table>
      </section>

      </nz-tab>
      <nz-tab nzTitle="Có lỗi" >
        <app-list-medicine-inactive></app-list-medicine-inactive>
      </nz-tab>
    </nz-tabset>

</main>
