<button (click)="showModalChangeInfo()" nz-button nzType="primary" [nzSize]="'default'" style="border-radius: 10px">
  <i class="fas fa-plus"></i>
</button>
<nz-modal [(nzVisible)]="isVisibleChangeInfo" nzTitle="Thêm hoạt chất vào sản phẩm"
  nzOkText="Thêm" nzCancelText="Hủy" (nzOnOk)="handleChangeInfoOk()"
  (nzOnCancel)="handleChangeInfoCancel()">
  <ng-container *nzModalContent>
    <nz-select nzAllowClear nzPlaceHolder="Hoạt chất" nzMode="multiple" class="col-12" style="left: 10px" [(ngModel)]="listNew" (ngModelChange)="changeInfo()" >
      <nz-option *ngFor="let listActiveSubstance of activeSubstance"
      nzLabel="{{ listActiveSubstance.name }}" nzValue="{{ listActiveSubstance.id }}" nzDisabled="{{!listActiveSubstance.isActive}}"></nz-option>
    </nz-select>
  </ng-container>
</nz-modal>
