<main id="main" class="main">
  <div class="pagetitle d-flex justify-content-between">
    <div>
      <h1>Tạo sản phẩm mới</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/dashboard">Trang chủ</a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/dashboard/medicine">Sản phẩm</a>
          </li>
          <li class="breadcrumb-item active">Tạo sản phẩm mới</li>
        </ol>
      </nav>
    </div>
  </div>
  <section class="section">
    <div class="card container">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <form class="row g-3" (ngSubmit)="onSubmit()" [formGroup]="productData">
          <div class="col-md-4">
            <nz-form-label nzRequired for="inputName5" class="form-label">Mã số đăng kí</nz-form-label>
            <input nz-input type="text" class="form-control" id="inputName" formControlName="drugRegistrationNumber" placeholder="Nhập mã đăng kí"/>
            <div *ngIf="
                statusError.drugRegistrationNumber.invalid &&
                (statusError.drugRegistrationNumber.dirty ||
                  statusError.drugRegistrationNumber.touched)
              ">
              <div *ngIf="statusError.drugRegistrationNumber.errors">
                <div *ngIf="statusError.drugRegistrationNumber.errors!['required']">
                  <small style="color: red">Vui lòng nhập mã số đăng kí</small>
                </div>
                <div *ngIf="statusError.drugRegistrationNumber.errors!['maxlength']">
                  <small style="color: red">Mã đăng kí không quá 100 kí tự</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <nz-form-label nzRequired for="inputName5" class="form-label">Tên sản phẩm</nz-form-label>
            <input nz-input type="text" class="form-control" id="inputName" formControlName="name" placeholder="Nhập tên sản phẩm"/>
            <div *ngIf="
                statusError.name.invalid &&
                (statusError.name.dirty || statusError.name.touched)
              ">
              <div *ngIf="statusError.name.errors">
                <div *ngIf="statusError.name.errors!['required']">
                  <small style="color: red">Vui lòng nhập tên sản phẩm</small>
                </div>
                <div *ngIf="statusError.name.errors!['maxlength']">
                  <small style="color: red">Tên sản phẩm không quá 250 kí tự</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <nz-form-label nzRequired for="inputName5" class="form-label">Nhà sản xuất</nz-form-label>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Nhập nhà sản xuất" formControlName="brandId">
              <nz-option *ngFor="let listBrands of listBrand" nzValue="{{listBrands.id}}" nzLabel="{{ listBrands.name }}">
              </nz-option>
            </nz-select>
            <!-- <select class="form-select" aria-label="Default select example" formControlName="brandId">
              <option selected>Open this select menu</option>
              <option *ngFor="let listBrands of listBrand" value="{{ listBrands.id }}">
                {{ listBrands.name }}
              </option>
            </select> -->
            <div *ngIf="
                statusError.brandId.invalid &&
                (statusError.brandId.dirty || statusError.brandId.touched)
              ">
              <div *ngIf="statusError.brandId.errors">
                <div *ngIf="statusError.brandId.errors!['required']">
                  <small style="color: red">Vui lòng chọn nhà cung cấp</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <nz-form-label nzRequired for="inputName5" class="form-label">Kệ hàng</nz-form-label>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Nhập kệ hàng" formControlName="shelfId">
              <nz-option *ngFor="let listShelfs of listShelf" nzValue="{{listShelfs.id}}" nzLabel="{{ listShelfs.name }}">
              </nz-option>
            </nz-select>
            <!-- <select class="form-select" aria-label="Default select example" formControlName="shelfId">
              <option selected>Open this select menu</option>
              <option *ngFor="let listShelfs of listShelf" value="{{ listShelfs.id }}">
                {{ listShelfs.name }}
              </option>
            </select> -->
            <div *ngIf="
                statusError.shelfId.invalid &&
                (statusError.shelfId.dirty || statusError.shelfId.touched)
              ">
              <div *ngIf="statusError.shelfId.errors">
                <div *ngIf="statusError.shelfId.errors!['required']">
                  <small style="color: red">Vui lòng chọn kệ hàng</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <nz-form-label nzRequired for="inputName5" class="form-label">Mức tồn kho tối thiểu
            </nz-form-label>
            <!-- <nz-input-number [nzMin]="1" [nzMax]="100000" class="w-100" formControlName="mininumInventory"></nz-input-number> -->
            <input nz-input placeholder="Nhập mức tồn kho" type="number" class="form-control" id="mininumInventory" formControlName="mininumInventory" min="1" minlength="1" max="100000"/>
            <div *ngIf="
                statusError.mininumInventory.invalid &&
                (statusError.mininumInventory.dirty ||
                  statusError.mininumInventory.touched)
              ">
              <div *ngIf="statusError.mininumInventory.errors">
                <div *ngIf="statusError.mininumInventory.errors!['required']">
                  <small style="color: red">Vui lòng nhập số lượng tối thiểu trong kho</small>
                </div>
                <div *ngIf="statusError.mininumInventory.errors!['min']">
                  <small style="color: red">Số lượng tối thiểu trong kho không thấp hơn 1</small>
                </div>
                <div *ngIf="statusError.mininumInventory.errors!['max']">
                  <small style="color: red">Số lượng tối thiểu trong kho không vượt quá 100000</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <nz-form-label nzRequired for="inputName5" class="form-label">Đường dùng</nz-form-label>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Nhập đường dùng" formControlName="routeOfAdministrationId">
              <nz-option *ngFor="let listROAs of listROA" nzValue="{{listROAs.id}}" nzLabel="{{ listROAs.name }}">
              </nz-option>
            </nz-select>
            <!-- <select class="form-select" formControlName="routeOfAdministrationId">
              <option selected>Open this select menu</option>
              <option *ngFor="let listROAs of listROA" value="{{ listROAs.id }}">
                {{ listROAs.name }}
              </option>
            </select> -->
            <div *ngIf="
                statusError.routeOfAdministrationId.invalid &&
                (statusError.routeOfAdministrationId.dirty ||
                  statusError.routeOfAdministrationId.touched)
              ">
              <div *ngIf="statusError.routeOfAdministrationId.errors">
                <div *ngIf="
                    statusError.routeOfAdministrationId.errors!['required']
                  ">
                  <small style="color: red">Vui lòng chọn đường dùng</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6">
            <nz-form-label for="activeSubstances" class="form-label">Hoạt chất</nz-form-label>
            <nz-select nzAllowClear nzPlaceHolder="Nhập hoạt chất" nzMode="multiple" formControlName="activeSubstances">
              <nz-option *ngFor="let listActiveSubstance of listActiveSubstance"
                nzLabel="{{ listActiveSubstance.name }}" nzValue="{{ listActiveSubstance.id }}"></nz-option>
            </nz-select>
          </div>
          <div class="col-6">
            <nz-form-label class="form-label" nzRequired for="unit">Đơn vị cơ sở</nz-form-label>
            <input nz-input placeholder="Nhập đơn vị cơ bản" type="text" class="form-control" id="unit" formControlName="unit" style="margin-bottom: 15px" />
            <div *ngIf="
                statusError.unit.invalid &&
                (statusError.unit.dirty || statusError.unit.touched)
              ">
              <div *ngIf="statusError.unit.errors">
                <div *ngIf="statusError.unit.errors!['required']">
                  <small style="color: red">Vui lòng nhập đơn vị cơ sở</small>
                </div>
                <div *ngIf="statusError.unit.errors!['maxlength']">
                  <small style="color: red">Đơn vị cơ sở không quá 100 kí tự</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <nz-form-label nzRequired for="price" class="form-label">Giá bán</nz-form-label>
            <input nz-input placeholder="Nhập giá bán" type="number" class="form-control" id="price" formControlName="price" min="0" minlength="1" max="1000000000"/>
            <div *ngIf="
                statusError.price.invalid &&
                (statusError.price.dirty || statusError.price.touched)
              ">
              <div *ngIf="statusError.price.errors">
                <div *ngIf="statusError.price.errors!['required']">
                  <small style="color: red">Vui lòng nhập giá sản phẩm</small>
                </div>
                <div *ngIf="statusError.price.errors!['max']">
                  <small style="color: red">Giá sản phẩm không vượt quá 1,000,000,000 đ</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <!-- <div class="col-6">
              <nz-form-label [nzSpan]="6">Bán theo liều</nz-form-label>
              <nz-switch (click)="clickIsUseDose()" id="isUseDose" formControlName="isUseDose"></nz-switch>
            </div>
            <div class="col-6" *ngIf="productData.value.isUseDose">
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="">Tên đơn vị</label>
                    <select class="form-control" name="doseUnit" (change)="changeDoseUnit($event)">
                      <option value=""></option>
                      <option value="mg">mg</option>
                      <option value="ml">ml</option>
                    </select>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="">Đơn vị quy đổi</label>
                    <input type="number" class="form-control" name="conversionValue" id="conversionValue" aria-describedby="emailHelpId"  [min]="0" minlength="1"  (change)="changeDoseUnit($event)">
                  </div>
                </div>
              </div>
            </div> -->
            <div class="col-12">
              <nz-form-label [nzSpan]="10">Quản lý theo lô, Hạn sử dụng</nz-form-label>
              <nz-switch (click)="clickIsManagedInBatches()" id="isManagedInBatches"
                formControlName="isManagedInBatches">
              </nz-switch>
            </div>
            <div class="row">
              <small class="col-12">* Thuộc tính này không thể thay đổi sau khi tạo sản phẩm</small>
            </div>

          </div>
          <nz-collapse style="border-radius: 8px;" id="productUnits" formControlName="productUnits" nzRequired
            for="productUnits" class="mt-3">
            <nz-collapse-panel [nzHeader]="header">
              <ng-container formArrayName="contacts" *ngFor="let contact of listProductUnit; index as i"
                style="margin: auto">
                <ng-container [formGroupName]="i">
                  <div class="row">
                    <div class="col-11">
                      <div class="row">
                        <div class="col-4">
                          <nz-form-label nzRequired for="price" class="form-label">Tên đơn vị</nz-form-label>
                          <input nz-input type="text" class="form-control" id="unit" name="unit" style="margin-right: 5px"
                            (change)="changeModel($event, i)">
                        </div>
                        <div class="col-4">
                          <nz-form-label nzRequired for="price" class="form-label">Giá trị quy đổi</nz-form-label>
                          <input nz-input class="form-control" type="number" id="conversionValue" minlength="1"
                            name="conversionValue" min="1"  style="margin-right: 5px" (change)="changeModel($event, i)">
                        </div>
                        <div class="col-4">
                          <nz-form-label nzRequired for="price" class="form-label" >Giá bán</nz-form-label>
                          <input nz-input class="form-control" type="number" id="price" name="price" [min]="1" minlength="1"
                            style="margin-right: 5px" (change)="changeModel($event, i)" [value]="Numbers(productData.value.price)*listProductUnit[i].conversionValue">
                        </div>
                      </div>
                    </div>
                    <div class="col-1">
                      <i class="fa fa-trash-alt" role="button" (click)="removeProductUnit(i)"></i>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <div class="d-flex justify-content-end">
                <button class="btn-add btn btn-outline-secondary mt-3" type="button" (click)="addNewProductUnit()"
                  style="margin-left:2px;border-radius: 5px;">Thêm đơn vị bán</button>
              </div>
            </nz-collapse-panel>
          </nz-collapse>
          <div class="d-flex justify-content-end">
            <div class="col-3 mt-4">
              <button class="w-100" nz-button nzType="primary" nzSize="large" style="border-radius: 10px">
                Tạo sản phẩm
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
