#search{
  min-width: 350px;
  max-width: 550px;
  margin: auto;
  padding: 0 0 30px 0;

}
.action__button{
  width: 100px;
}
[nz-form] {
  max-width: 600px;
}
nz-select {
  margin: 0 8px 10px 0;
  width: 170px;
}
